<h2>Order Form</h2>

<h3>Enter information for a new order</h3>

<form method="POST" action="/place-order">

    <div>
        <label for="name">Customer Name</label>
        <input id="name" name="name" required>
    </div>

    <div>
        <label for="product">Product</label>
        <select id="product" name="product" required>
            <option value="Hat">Hat</option>
            <option value="Mittens">Mittens</option>
            <option value="Scarf">Scarf</option>
        </select>
    </div>

    <div>
        <label for="quantity">Quantity</label>
        <input id="quantity" name="quantity" type="number" required>
    </div>

    <div>
        <button type="submit">Submit Order</button>
    </div>
    
</form>
