<h1>Example Page that Submits Form to a Server</h1>

<div>

<h2>Enter information about your family</h2>

<h3>Parent Information</h3>
<form method="POST" action="/family">

<div>
<label>Parent Name</label><input name="name" required>
</div>
<div>
<label>Age</label><input name="age" type="number" min="14" max="100"  required>
</div>
<input type="hidden" name="role" value="parent">

<div>
<input type="submit">
</div>
</form>


<h3>Child Information</h3>
<form method="POST" action="/family">
<div>
<label>Name</label><input name="name" required>
</div>
<div>
<label>Age</label><input name="age" type="number" min="0" max="18" required>
</div>

<input type="hidden" name="role" value="child">

<div>
<input type="submit">
</div>

</form>

</div>
