<!DOCTYPE html>
<html>
  <head>
    <title>Example Order Form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>Winter Accessories Orders</h1>

    <div id="navigation">
      <a class="nav-link" href="/order-list">View order list</a>
      <a class="nav-link" href="/">Enter new order</a>      
    </div>

    <div id="content">
      {{{body}}}
    </div>



  </body>
</html>
