body {
  padding: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.nav-link {
  padding-right: 10px;
}

a {
  color: #00B7FF;
}

input, select {
  margin: 10px;
}

button {
  margin-top: 10px;
}

label {
  display: inline-block;
  width: 30%;
}